<% @page_title = "Login" -%>
<div class="row">
	<div class= "col col-lg-12">
		<h1>Log in</h1>
		<%= form_tag(:action => 'login_attempt') do %>
			<p>
			Username or Email:</br> <%= text_field_tag :username_or_email, "", class: 'form-control' %>
			</p> 
					
			<p>
			Password:</br> <%= password_field_tag :login_password, "", class: 'form-control'%>
			</p> 
			
			<%= submit_tag("Log In", class: 'btn btn-primary' )%>
		<% end %>
	</div>
</div>